# Build stuff
*.o
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
m4
stamp-h1

# Targets
src/compiler/protoc-gen-objc

# Mac stuff
.DS_Store

# Xcode stuff
Build/
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
